<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Calendar - Braint</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
	<link rel="stylesheet" href="/static/style.css">
	<script src="/static/braint.js" defer></script>
	<script src="/static/navbar.js" defer></script>
	<script src="/static/calendar.js" defer></script>
	<script src="/static/script.js" defer></script>
</head>
<body>
	
	<div id="navbar"></div>

	<h1>Calendar</h1>
	<br>

	<table id="calendar" border="1">
		<tr>
			<td>Monday</td>
			<td>Tuesday</td>
			<td>Wedesday</td>
			<td>Thursday</td>
			<td>Friday</td>
			<td>Saturday</td>
			<td>Sunday</td>
		</tr>

		<tr id="all-tasks">
			<td><ul></ul></td>
			<td><ul></ul></td>
			<td><ul></ul></td>
			<td><ul></ul></td>
			<td><ul></ul></td>
			<td><ul></ul></td>
			<td><ul></ul></td>
		</tr>
	</table>

	<br>
  
</body>
</html>