<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Today - Braint</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
	<link rel="stylesheet" href="/static/style.css">
	<script src="/static/braint.js" defer></script>
	<script src="/static/navbar.js" defer></script>
	<script src="/static/task-manager.js" defer></script>
	<script src="/static/script.js" defer></script>
</head>
<body>
	
	<div id="navbar"></div>

	<h1>Today</h1>
	<br>

	<div id="uncompleted-tasks"></div>

	<h1 id="completed">Completed</h1>
	<br>
	<div id="completed-tasks"></div>
  <br>
</body>
</html>